img {
    width: 100px;
}

header {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:center;
    align-items: center;
}

#searchbar {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
    justify-content:center;
    align-items: center;
    border: solid 3px black;
    border-radius: 10px;
    padding: 3px;
    box-sizing: border-box;
}

#search {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: none;
}

#searchBtn {
    height: 30px;
    width: 30px;
    padding: 0;
    margin:0;
    width: fit-content;
    height: fit-content;
    display: flex;
    border: none;
    background-color: white;
    border-left: solid 1px black;
    padding-left: 5px;
}

#searchBtn img {
    width: 30px;
    height: 30px;
    padding: 0;
}

h1 {
    font-size:50px;
}

header img {
    width: 100px;
    height: 100px;
}

footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer img {
    width: 20px;
}

.tags {
    width: 100%;
    display: flex;
    gap: 20px;
}

.tags p {
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px black;
    margin: 0;
}

.recipe-card {
    box-sizing: border-box;
    margin: auto;
    width: 95%;
    border: solid black 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.recipe-card img {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.recipe-details {
    padding: 20px;
}

h2 {
    color: #00AAFF;
    font-size: xx-large;
    margin-bottom: 0;
}

@media (min-width: 800px) {
    .recipe-card {
        flex-direction: row;
    }
    .recipe-card img {
        width: 50%;
    }
    footer {
        flex-direction: row;
    }
}

@media (max-width: 800px){
    .description {
        display: none;
    }
}